@font-face {
    font-family: 'SegoeUIRegular';
    src: url(../fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.ttf);
}

@font-face {
    font-family: 'SegoeUIRegular';
    src: url(../fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot);
}

*{
	font-family: 'SegoeUIRegular';
}

.header_short_desc, .header__main{
	color: #FFF;
}

.header_short_desc{
	background: url(../img/top_bg.png);
	margin-bottom: 0px;
	border: 0px;
	height: 100px;
}

.header_short_desc .title_big{
	font-size: 18px;
	margin-top: 20px;
}

.header_short_desc .title_small{
	font-size: 14px;
}

.header_short_desc .phone{
	font-weight: bold;
	font-size: 20px;
	margin-top: 10px;
}

.header_short_desc .phone > img{
	margin-right: 10px;
}

.header_short_desc .recall_me{
	font-size: 17px;
	color: #fdd77a;
	border: 0;
	border-bottom: 1px solid #FDD77A;
	border-style: dashed;
	cursor: pointer;
}

.header_short_desc .adress{
	font-size: 14px;
	margin-top: 5px;
}

.header__main{
	position: relative;
	top: -101px;
	padding-top: 100px;
	z-index: 1;
	background: url(../img/big_bg_top.gif);
	background-size: cover;
	margin-bottom: 0px;
  	border: 0;
  	overflow: hidden;
  	padding-bottom: 100px;
}

.header__main h1 {
	font-size: 38px;
	text-shadow: 2px 1px 0px #42100D, -1px -1px 4px #42100D;
	margin-bottom: 30px;
}

.response_form{
	background: #ffffff;
	padding: 20px 30px;
	color: #42100d;
	border: 1px solid #d7d1c8;
}

.sucks_1, .sucks_2{
	background: #ffffff;
	border-bottom: 1px solid #d7d1c8;
	border-left: 1px solid #d7d1c8;
	border-right: 1px solid #d7d1c8;
	height: 7px;
	position: absolute;
}

.sucks_1{
	margin: 21px 0px 0px -23px;
	width: 97%;
}

.sucks_2{
	margin: 28px 0px 0px -16px;
	position: absolute;
	width: 94%;
}

.beach{
	background: url(../img/beach.png);
	height: 522px;
	width: 606px;
	position: absolute;
	z-index: -1;
}

.response_form input{
	width: 100%;
	padding: 10px;
	border: 1px solid #D7D1C8;
	margin: 0px 0px 15px 0px;
}

.response_form button{
	width: 100%;
    font-size: 20px;
}

.introduce{
	font-size: 25px;
	line-height: 28px;
	margin: -5px 0px 25px 0px;
}

.specialization_block{
	margin-top: -101px;
	color: #42100d;
	margin-bottom: 50px;
}

.specialization_item{
	margin-top: 20px;
	font-size: 18px;
}

.texturedblock{
	background: url(../img/whytheycheckus.png);
	color: #42100d;
	padding-bottom: 30px;
}

.texturedblock h1{
	color: #42100d;
}

.options_block{
	margin-top: 40px;
}

.options_block .header{
	color: #42100d;
	font-size: 20px;
	text-transform: uppercase;
	border-top: 3px solid #42100d;
	background: #fdd77a;
	padding: 10px 0px;
	height: 80px;
	line-height: 50px;
}

.options_block .header span{
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
}

.options_block .content{
	background: #42100d;
	color: #ffffff;
	padding: 10px 15px;
	font-size: 14px;
}

.options_block .content .content_box{
	margin: 10px 0px;
	height: 420px;
}

.color_yellow{
	color: #fdd77a;
}

button.btn-default{
	background: #ffe400; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffe400 0%, #e7af3e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe400), color-stop(100%,#e7af3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffe400 0%,#e7af3e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffe400 0%,#e7af3e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffe400 0%,#e7af3e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffe400 0%,#e7af3e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe400', endColorstr='#e7af3e',GradientType=0 ); /* IE6-9 */
}

.options_block .content button{
	color: #42100d;
	font-size: 18px;
	width: 100%;
	text-transform: uppercase;
}

.how_work_block{
	margin-top: 25px;
	padding-bottom: 25px;
}

.advokats_block{
	color: #42100D;
}

.advokat{
	background: #f4ddb4;
	margin-left: 60px;
	width: 27%;
	border: 1px solid #D8D8D8;
	border-bottom: 0;
	/*box-shadow: 0px -20px 12px -1px #FFF, -6px 0px 30px #DADADA, 10px 0px 30px #DADADA;*/
}


.advokat_ava{
	margin: 30px 0px 20px 0px;
	border: 1px solid #e5e5e5;
}

.advokat_name{
	font-size:21px;
}

.advokat_description{
	font-size: 15px;
	margin: 30px 0px 60px 0px;
}

.advokat__foter{
	height: 23px;
	background: url(../img/advokats_bottom_shadow.png);
	width: 100%;
	background-size: cover;
	position: absolute;
	margin-left: -15px;
}

.responce{
	background: url(../img/responce.jpg);
	background-size: cover;
	color: #ffffff;
	margin-top: 50px;
	padding-bottom: 35px;
}

.responce_avatar:before{
	width: 164px;
	height: 164px;
	display: block;
	content: '';
	position: absolute;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35) inset;
	border-radius: 100%;
	border: 5px solid #FDD77A;
	margin: -5px 0px 0px -5px;
}
.responce_avatar{
	width: 164px;
	height: 164px;
	border: 5px solid #FDD77A;
	border-radius: 100%;
	display: inline-block;
	overflow: hidden;
}

.responce_quote{
	background: #FFF;
	color: #42100D;
	border-radius: 12px;
	padding: 35px 30px 0px 30px;
	border: 2px solid #FDD77A;
	font-size: 16px;
	margin: 20px 0px 50px 0px;
}

.responce_author{
	font-weight: bold;
	margin: 20px 0px;
}

.margin30-0{
	margin: 30px 0px;
}

.modal input{
	width: 100%;
	padding: 10px;
	border: 1px solid #D7D1C8;
	margin: 0px 0px 15px 0px;
}

.modal-footer button{
	width: 100%;
	font-size: 20px;
}

/*bootstrap vertical modal fix*/
.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/*bootstrap vertical modal fix*/